@import '../../../sass/mixins.scss';
@import '../../../sass/colors.scss';

.sleeps {
    width: 100%;
}

.sleepsContainer {
    padding-top: 7.3vw;
    padding-left: 16.3vw;
    padding-right: 15vw;
}

.header {
    @include flex-start;
}

.textSide {
    width: 56%;
    color: $white;
}

.titleWrap {
    margin-bottom: 1vw;
}

.imgSide {
    @include flex-start;
    width: 50%;
}

.headerText {
    color: $white;
    @include belota-400-18;
    text-align: left;
    padding-left: 5%;
    padding-top: 6%;
    padding-right: 6%;
}

.main {
    height: 45vw;
}