@import '../../../sass/mixins.scss';
@import '../../../sass/colors.scss';


.linkBtn {
    @include border-radius;
    border: 1px solid $border-blue;
    background-color: $border-blue;
    padding: 0.9vw 1.8vw;
    will-change: background-color;
    transition: background-color 200ms ease-out;

    &:hover {
        background-color: transparent;   
        transition: background-color 250ms ease-in;
    }
}

.text {
    @include belota-400-18;
    color: $white;
}