@font-face {
  font-family: 'Shnobel';
  src: url('../src/assets/fonts/Shnobel-Oblique.eot'); 
  src: url('../src/assets/fonts/Shnobel-Oblique.eot?#iefix') format('embedded-opentype'), 
       url('../src/assets/fonts/Shnobel-Oblique.woff') format('woff'),
       url('../src/assets/fonts/Shnobel-Oblique.ttf') format('truetype'); 
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Shnobel', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
